body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
header h4 {
  text-align: center;
  background-color: #fff7e6;
  padding: 1 rem;
  border-top: 0.125em solid #e0c9a6;
  font-weight: 400;
  color: #107777;
}
div p {
  text-align: center;
  margin: 1.25em auto;
}
h3 {
  padding-bottom: 0.3em;
}
img {
  display: block;
  margin: 1.25em auto;
}
main {
  max-width: 600px;
  margin-inline: auto;
}
